body {
    margin: 0;
    background-color: rgb(216, 224, 233);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    width: 20.4%;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
    background-color: white;
}

.cards img{
    position: absolute;
    height: 69%;
    width: 100%;

    top: 0%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 3px;

    margin-top: 0%;
}


.cards,
#gameMode,
#gameStatus {
    z-index: 1;
}

#startPoint{
    position: absolute;
    left: 2%;
    top: 2%;
}

#endPoint{
    position: absolute;
    right: 2%;
    top: 2%;
}

#relLinks{
    position: absolute;
    height: 12%;
    width: 29%;
    top: 75%;
}

#curr{
    position: relative;
    margin-top: 250px;
}

#currRelLinks{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
}

.relLinkBtns {
    /* border: none; */
    background: black;
    color: white;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 110px;
    max-width: 150px;
    min-height: 44px;
    padding: 8px 14px;

    border: 1px solid #c8c3b8;
    border-radius: 999px;

    background: #fffdf9;
    color: #222222;

    font-size: 0.8rem;
    font-weight: 500;

    box-shadow: 0 0px 10px black;
    cursor: pointer;
    /* transition: .5s ease; */

    transform: translate(-50%, -50%);
    transition: left 0.4s ease-out, top 0.7s ease-out;
}

.relLinkBtns:hover {
    transform: translate(-50%, -50%) scale(2);
    background: #1f2937;
    color: white;
    border-color: #1f2937;
}

#relLinks{
    position: absolute;
    bottom: 5%;
    right: 2%;
    border-radius: 10px;
}

.Text {
    position: absolute;
    top: 74%;
    bottom: 5%;
    left: 2%;
    width: 66%;
}
#currDescript{
    font-size: 0.8rem;
}
#currTitle, #startTitle, #endTitle{
    font-size: 1.4rem;
    margin-bottom: 4%;
    font-weight: 500;
}

#restart{
    /* height: 50px; */
    /* width: 100px; */
    height: 35%;
    border-radius: 5px;
    margin-top: 10px;
}

.rabbitHole{
    display: flex; 
    font-size: 1.1rem;
    justify-content: start;
}

/* #gameData{
    
} */

#gameStatus{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 15%;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 61%;
    transform: translateX(-50%);
    background-color: rgb(146, 144, 144);
    box-shadow: 5px 5px 10px black;
}

#gameMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding: 12px 16px; */

    background-color: #8b8c8d;
    width: 20%;
    height: 15%;

    border-radius: 5px;
    /* box-shadow: 5px 5px 13px black; */

    position: absolute;
    top: 5%;
    left: 40%;
    transform: translateX(-50%);
}

#gameModeText{
    display: flex;
    /* margin: 10px; */
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
}

#difficulty{
    margin: 15px 10px 10px 25px;
}

.difficultyBtns{
    height: 40px;
    width: 80px;
}

#lostPopup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#lostBox {
    background: white;
    padding: 3%;
    border-radius: 15px;
    text-align: center;
}

#wonPopup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#wonBox {
    background: white;
    padding: 3%;
    border-radius: 15px;
    text-align: center;
}

#bgImg{
    position: fixed;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

#bwImg{
    position: absolute;

    background-image: url("image.png");
    background-size: cover;
    background-position: center;

    inset: 0;
    /* overflow: hidden; */
    filter: grayscale(1) blur(3px);
    /* filter: grayscale(1); */
    transform: scale(1);
}

#blueImg {
    position: absolute;
    left: 50%;
    top: 50%;
    /* inset: 0; */
    width: 28%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    /* filter: hue-rotate(00deg) saturate(0.9) contrast(1.3) brightness(1); */
    filter: grayscale(1) sepia(100%) hue-rotate(170deg) saturate(1.5) contrast(3) brightness(1);
}

#blueImg::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: rgb(0, 150, 255); */
    opacity: 0.5;
    mix-blend-mode: color;

}